
.gradle/8.0/executionHistory/executionHistory.bin

.gradle/8.0/executionHistory/executionHistory.lock

.gradle/8.0/fileHashes/fileHashes.bin

.gradle/8.0/fileHashes/fileHashes.lock

.gradle/buildOutputCleanup/buildOutputCleanup.lock

.idea/inspectionProfiles/Project_Default.xml
